/*title of the page*/

#title{
    font-family:"Times New Roman", Georgia, sans-serif;
    font-size: 120px;
    color:#14C38E;
}

/*menu*/

.list-styles{
    list-style-type: none;
    font-size:120%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 0;
}

.list-styles p{
    padding-top: 0;
    margin-top: 0;
}

.list-styles img{
    margin: 0;
    padding: 0;
   
}

/*
body{
    background: url("../images/coffee.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    

}
*/

body{
    display: flex;
    justify-content: space-around;
}

.girl{
    min-height: 100vh;
    width: auto;
}

#mocha, #chai-latte, #matcha-latte{
    height: 110px;
    width: 195px;
    padding:0 25px;
    border-radius: 35px;
}

#menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#menu #welcome{
    font-size: 20px;
}



#title_welcome{
    margin-left: 60px;
}



