body{
    margin: 3% 10%;
    padding: 30px;
    border-style: groove;
    border-color: #DBCDAD;
}

h1{
    font-size: 60px;
    color: #806854;
}

p, li{
    font-size: large;
    color: #806854;
    line-height: 1.5em;
}

h4{
    font-size: x-large;
    color: #3C301C;
}

.girl{
   display: block;
   margin-left: auto;
   height: 350px;
   width: auto;
}

.cake{
    display: block;
    margin-left: auto;
    height: 200px;
    width: auto;
}

ul{
    list-style-type: circle;
}

.drink{
    width: 100%;
}

p{
    margin-top: 25px;
}
