@charset "utf-8";


/*title of the page*/

#title{
    font-family:"Times New Roman", Georgia, sans-serif;
    font-size: 120px;
    color:#A8BAA9;
    margin-top: 10rem;
}

body{
    display: flex;
    justify-content: space-around;
}

.girl{
    min-height: 100vh;
    width: auto;
}


/*menu*/

.list-styles{
    list-style-type: none;
    font-size:120%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 0;
}

.list-styles p{
    padding-top: 0;
    margin-top: 0;
}

.d-image{
    margin: 0;
    padding: 0;
}

.teatime{
    margin-top: 0;
}

.list-styles .d-image:hover{
    
    background: #E5DCBC; 
    box-shadow: 0 0 100px #E5DCBC; 
}

/*
body{
    background: url("../images/coffee.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    

}
*/


#mocha, #chai-latte, #matcha-latte{
    height: 110px;
    width: 195px;
    padding:0 25px;
    
    border-radius: 35px;
}


#menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menu #welcome{
    font-size: 24px;
}

#title_welcome{
    margin-left: 60px;
    margin-top: 60px;
}

p{
    color: #806854;
}

li{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}


.teatime{
    width: 100px;
    height: auto;
    margin: 0 auto;
}

.hidden{
    display: none;
}




#splash {
    /*fixedで全面に固定*/
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background:#fff;
	text-align:center;
	color:#fff;
}


#splash_logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
	width:260px;
}

/* fadeUpをするアイコンの動き */

.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }

  to {
    opacity: 1;
	transform: translateY(0);
  }
}

